<div class="search-container">
  <h1>Encontre acomodações</h1>
  <form>
      <label for="location">Localização:</label>
      <input type="text" id="location" name="location" placeholder="Digite a localização">
      
      <label for="checkin">Check-in:</label>
      <input type="date" id="checkin" name="checkin">
      
      <label for="checkout">Check-out:</label>
      <input type="date" id="checkout" name="checkout">
      
      <label for="guests">Número de Hóspedes:</label>
      <input type="number" id="guests" name="guests" min="1">
      
      <button (click)="onSearchClick()" type="button">Buscar</button>
  </form>

  <!-- Exibir mensagem de erro -->
  <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
  </div>
</div>
