.card{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e8e3e3;
    border-radius: 2%;
    border: 1% solid gray;
    align-items: center;
    justify-content: center;
  }
  
  .description-tag{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .info{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  p{
    font-size: 0.8rem;
    height: 10%;
    color: black;
    padding-left: 2%;
  }
  
  button{
    margin-top: 2%;
    border: 0;
    background-color: #8C271E;
    width: 60%;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    color: white;
  }
  
  button:hover{
    color: white;
  }
