.toolbar{

    height: 13vh;
    width: 100vw;
    background-color: #ABA194;
    border-bottom: 2px solid white;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    padding: 0;
    color: white;
}

.infoHead{
  height: 90%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.options {

  height: 60%;
  width: 20%;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.apresentar{
  width: 15%;
  height: 60%;
  display: inline-flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
  border: 1px solid white;
}

.options p {
  margin: 0;
  font-size: 0.8rem;
}

.options:hover{
  background-color: #ccc;
}
.menu{
  height: 20%;
  width: 40%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction:column;
  margin-top: 10%;
  visibility: hidden;

}

.choose{
  height: 50%;
  border: 0px;
  border-top: 1px solid black;
  background-color:#ABA194;
  border-radius: 10px;
  color: white;
}
.choose:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.background{
  border: 1px solid #ccc;
  color: white;
}

.userName{
  color: white;
  margin-right: 3%;
  font-size: 13px;
}
