.list{
    min-height: 87vh;
    width: 100vw;
    overflow-y: scroll;
    background-color: #CFCBCA;
    padding-top: 13vh;
}
  
h3{
    font-size: 1.1rem;
    font-family: 'Petrona';
    padding: 2%;
}
  
hr{
    font-size: 2px;
    margin-bottom: 2%;
}
