a{
    width: 0px;
    height: 0px;
}

form{
    width: 460px;
    margin: 0 auto;
}

textarea{
    align-items: center;
    border-radius: 10px;
    background-color: #CFCBCA;
    color: #38354E;
    font-size: 14px;
}

.container{
    flex-direction: column;
    display: flex;
    background:none;
    border-radius: 10px;
    align-items: center
}

.ratingBox{
    background-color: #8C271E;
    border-radius: 30px;
}

.form-group{
    display: flex;
    border-radius: 10px;
}




button[type="submit"] {
    background-color: #D8DDDE;
    color: #38354E;
    border-radius: 30px;
    margin-left: auto; 
    margin-right: 0;
    border: none;
    padding: 0.4em 0.5em;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    border: 2px solid transparent;
    transition: 0.4s;
  }
  
button[type="submit"]:hover {
    color: #8C271E;
    border-color: #D8DDDE;
    background-color: #fff;
  }
  