<div>
    <div class="container-mt-5">
        <div class="card-header">
            <a href="http://localhost:4200/"><img src="../../../assets/Aurore logo.png" class="logo"></a>
        </div>
        <div class="card-body">
            <form (ngSubmit)="loginUser()">
                <div class="username-field">
                    <label>Email ou Username</label>
                    <input type="text" [(ngModel)]="emailOrUsername" name="emailOrUsername" class="form-control-username">
                </div>
                <div class="password-field">
                    <label>Senha</label>
                    <input type="text" [(ngModel)]="password" name="password" class="form-control-password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn-login">Logar</button>
                </div>
                <a href="http://localhost:4200/users/create">
                    <button type="button" class="btn-register">Não tem Login? Cadastre-se aqui</button>
                </a>
            </form>
        </div>
    </div>
</div>