/* Background */
.container-mt-5{
    position: relative;
    width: 100vw;
    height: 100vh;

    background: #ABA194;
}


/* Retângulo header */
.card-header{
    position: absolute;
    width: 100vw;
    height: 11.57vh;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.25);
}

/* Logo aurore */
.logo{
    height: 11.57vh;
}


/* Retângulo da aba de login */
.card-body{
    position: absolute;
    width: 47.36vw;
    height: 60vh;
    left: 25vw;
    top: 22.73vh;

    background: #D9D9D9;
    border-radius: 1.68vh;
}


/* Texto Email ou Username */
.username-field{
    position: absolute;
    width: 10vw;
    height: 2.85vh;
    left: 5vw;
    top: 8vh;

    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.85vh; 

    color: rgba(56, 53, 78, 0.7); 
}


/* Retângulo Username */
.form-control-username{
    position: absolute;
    width: 38vw;
    height: 6vh;
    left: 0vw;
    top: 5vh;

    background: #CFCBCA;
    border-radius: 2.5vh;  
    border:none; 

    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.85vh; 

    color: rgba(56, 53, 78, 0.7); 
}


/* Texto Senha */
.password-field{
    position: absolute;
    width: 10vw;
    height: 2.85vh;
    left: 5vw;
    top: 23vh;

    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.85vh; 

    color: rgba(56, 53, 78, 0.7);   
}

/* Retângulo Senha */
.form-control-password{
    position: absolute;
    width: 38vw;
    height: 6vh;
    left: 0vw;
    top: 5vh;

    background: #CFCBCA;
    border-radius: 2.5vh;  
    border:none;  
    
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.85vh; 

    color: rgba(56, 53, 78, 0.7);
}

/* Texto de erro */
.text-danger{
    position: absolute;
    width: 24.5vw;
    height: 5.87vh;
    left: 12vw;
    top: 38.5vh;

    text-align: center;
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.85vh;
    color: #ec240a;
}

/* Botão Login */
.btn-login{
    position: absolute;
    width: 24.5vw;
    height: 5.87vh;
    left: 12vw;
    top: 42vh;

    background: #8C271E;
    border-radius: 2.5vh;
    border:none;

    text-align: center;
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.85vh;
    color: #D8DDDE;
}

.btn-login:active{
    background: #501611;
}


/* Botão Cadastre-se */
.btn-register{
    position: absolute;
    width: 24.5vw;
    height: 5.87vh;
    left: 12vw;
    top: 50vh;

    background: #8C271E;
    border-radius: 2.5vh;
    border:none;

    text-align: center;
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.85vh;
    color: #D8DDDE;
}

.btn-register:active{
    background: #501611;
}

/* Tela de sucesso */
.success-screen{
    position: absolute;
    width: 27.36vw;
    height: 50vh;
    left: 10.5vw;
    top: 6vh;
    display: none;

    background: #ABA194;
    border-radius: 1.68vh;
}

/* Texto de sucesso */
.success-text{
    position: absolute;
    width: 27.36vw;
    height: 50vh;
    top: 15vh;

    text-align: center;
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    line-height: 2.85vh;
    color: #D8DDDE;
}

/* Botão de sucesso */
.btn-success{
    position: absolute;
    width: 18vw;
    height: 7vh;
    left: 5vw;
    top: 25vh;

    background: #8C271E;
    border-radius: 2.5vh;
    border:none;

    text-align: center;
    font-family: 'Petrona';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 2.85vh;
    color: #D8DDDE;
}

.btn-success:active{
    background: #501611;
}