<div class="top-bar">
  <h1>Aurore</h1>
</div>

<div class="accommodations-container">
  <div class="heading">
    <h2>Veja nossas acomodações disponíveis:</h2>
  </div>
  <br>
  <div class="accommodation" *ngFor="let accommodation of accommodations">
    <img [src]="accommodation.image" (click)="navigateToAccommodationDetails(accommodation.id)">
    <h3>{{ accommodation.name }}</h3>
    <p>{{ accommodation.description }}</p>
    <p><strong>Localização:</strong> {{ accommodation.location }}</p>
    <p><strong>Quartos:</strong> {{ accommodation.bedrooms }}</p>
    <p><strong>Capacidade Máxima:</strong> {{ accommodation.max_capacity }}</p>
  </div>
</div>
