<!--<app-logo></app-logo>-->
<div class="header"></div>
<div class="carrousel">

    <div class="image-container">
        <img alt="Hotel1" src="/assets/images/home_wpp1.jpg"/>
    </div>

    <div class="buttoms">
    </div>

    <div class="title-carousel">
        <a>Descubra uma nova experiência a cada nova hospedagem</a>
    </div>

    <div class="search-bar">
        <a>Busque acomodações ou cidade ao redor do mundo</a>
        <div class="buttom-search-bar"></div>
    </div>


</div>
<div class="footer"></div>


