<div class="main">
    <div class="formulario">
      <h1>Criar Acomodação</h1>
      <form [formGroup]="accommodationForm"  enctype="multipart/form-data">
        <label for="nome">Nome da Acomodação:</label>
        <input type="text" class="form-control" id="nome" formControlName="accommodation_name" required>
  
        <label for="localizacao">Localização:</label>
        <input type="text" class="form-control" id="localizacao" formControlName="accommodation_loc" required>
  
        <label for="num_quartos">Número de Quartos:</label>
        <input type="number" class="form-control" id="num_quartos" formControlName="accommodation_bedrooms" min="0" required>
  
        <label for="max_capacidade">Número máximo de hóspedes:</label>
        <input type="number" class="form-control" id="max_capacidade" formControlName="accommodation_max_capacity" min="0" required>
  
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" class="form-control" formControlName="accommodation_description" rows="4" required></textarea>
  
        <label for="preco">Preço por Noite:</label>
        <input type="number" class="form-control" id="preco" formControlName="accommodation_price" min="0" required>
  
        <!--<label for="img">Adicione aqui sua imagem</label>
        <input type="file" id="img" class="form-control" (change)="handleFileInput($event)" accept="image/*">
        -->
        <button type="submit" (click)="createAcmdt()" class="form-control" [style.background]="buttonColor" (mouseover)="changeButtonColor('#38354E')"  (mouseout)="changeButtonColor('#8C271E')" >Criar Acomodação</button>
      </form>
    </div>
  </div>
  