.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.h1 {
    color: #38354E;
    font-size: xx-large;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
    font-weight: bold; /* Adicionado: torna o texto em negrito */
}

.formulario {
    width: 35%;
    height: 100%;
    background-color: #ABA194;
    margin: 10px;
    border-radius: 40px;
    text-align: center;
    color: #38354E;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: x-large;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    margin-top: 0.5%;
    font-size: x-large;
}

.error-message {
    color: #8C271E;
    font-size: medium;
    text-align: left;
    font-weight: bold; /* Adicionado: torna o texto em negrito */
}

button {
    background-color: #8C271E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 40px;
    font-size: x-large;
    font-weight: bold;
}
