.main-edit{
    padding-top: 13vh;
    background-color: #CFCBCA;
    height: 87vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;

}
.cadastro{
    height: 70%;
    width: 25%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 85%;
  justify-content: center;
  border-top: 1px ridge  black;
  margin: auto;
}

label{
    font-size: 13px;
}

#checkin, #checkout{
    margin-top: 3%;
    height: 15%;
    width: 90%;
    border-radius: 10px;
    background-color: #CFCBCA;
    border-color: #CFCBCA;
}

.button-container {
    display: flex;
}

app-botao{
    margin-left: 10%;
    margin-top: 10%;
}

.pop-up{
  width: 100%;
  height: 100vh ;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  align-items: center;
  display: flex;
  justify-content: center;
  visibility:hidden;
}

.box{
  height: 40%;
  width: 25%;
  background-color: #ccc;
  text-align: center;
}

.bnt-pop{
  margin-top: 8%;
  padding: 10px 60px;
  background-color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  color: black;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.bnt-pop:hover{
  transform: scale(1.1);
}

.box img{
  height: 100px;
  margin-top: -30px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.edit-reserv{
  margin-top: 5%;
  text-align: center;
  color:  black;
  font-family: 'Poppins', sans-serif;
}

label{
  font-size: 12px;
  color: #818181;
}
