<div class="form-list">

   <div class="example-container" >

        <div class="mat-label">

            <section style="width: 80%; display: flex; flex-direction: column;">
              <label class="custom-label" style="width: 30%; font-size: 0.7rem; text-align: center;">Check-in</label>
              <input class="custom-input" type="date" placeholder="check-in" [formControl]="checkInControl" required>
              <mat-error *ngIf="checkInControl.invalid" class="error">{{getErrorMessage(checkInControl)}}</mat-error>
            </section>
        </div>

         <div class="mat-label">
              <section style="width: 80%; display: flex; flex-direction: column;">
                <label class="custom-label" style="width: 30%; font-size: 0.7rem; text-align: center;">Check-out</label>
              <input class="custom-input" type="date" placeholder="check-out" [formControl]="checkOutControl" required>
              <mat-error *ngIf="checkOutControl.invalid" class="error">{{getErrorMessage(checkOutControl)}}</mat-error>
          </section>
         </div>
    </div>

   <div class="mat-elevation-v4" >

         <a (click)="showList(checkInControl, checkOutControl)"><mat-icon>filter_list</mat-icon></a>
   </div>
</div>
