.main-historic{
    width: 80%;
    height: 80%;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
}

.title-list{
    height: 20%;
    width: 100%;

}

.list{
    width: 100%;
    min-height: 90%;
    overflow-y: scroll;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;

}

.component-list{
    display:flex;
    height: 90%;
    width: 90%;
    align-items: center;
    justify-content: center;
}

hr{
    margin-top: 1%;
}

.component-list-historic{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-list{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin-left: 2%;
    margin-right: 2%;
}

.img-list{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.img-list img{
    height: 70%;
    width: 70%;
}

.description-list{
    height: 40%;
    width: 100%;
    margin-top: 2%;
}

.info-list p{
    height: 20%;
    width: 80%;
}

.rating-box{
    margin-left: 5%;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stars{
    height: 30%;
    width: 100%;
    font-size: 2rem;
}
.avaliar{
  font-size: 0.8rem;
}
.avaliar:hover{
    transform: scale(1.1);
    box-shadow: 1px solid black;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bouncing {
  animation: bounce 0.5s ease-in-out infinite;
}
