<div class="main-historic">

    <div class="title-list">
        <h1>Viagens</h1>
    </div>

    <hr/>
    <!--so pode habilitar o display se existir informações-->
    <ul class="list">
        <li class="component-list" *ngFor="let list of dadosList" >
            <div class="component-list-historic">
               <div class="img-list">
                    <img src={{list.imageUrl}} alt="list.jpeg" width="50%" height="50%">
                    <div class="description-listn">
                        <!--consultar a partir do accommodation id a descrição do-->
                    </div>
               </div>
               <div class="info-list">
                    <p>Data Checkin : {{list.checkin_date}}</p>
                    <p>Data Checkout : {{list.checkout_date}}</p>
                    <p>Price: {{list.total_price}}</p>
               </div>
            </div>
        </li>
    </ul>

</div>
