.list-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #ccc;

}

.historic{
    float: right;
    font-size: 0.9rem ;
    text-decoration: none;
    margin-top: 1%;
    color: black;
}

.list{
    min-height: 87vh;
    width: 100%;
    background-color: #CFCBCA;
    padding-top: 13vh;
}

h3{
    font-size: 1.1rem;
    font-family: 'Petrona';
    padding: 2%;
}

hr{
    font-size: 2px;
    margin-top: 2%;
}
