.background-canva {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-right: -15%;
  }
  
  .reserva-list {
    height: 70%;
    width: 90%;
  }
  
  
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1.5rem;
  }
  
  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    width: 100%;
    height: 100%;
  }
